<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: html_head">
<title>Экспорт изображений на prom.ua</title>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="section container mt-3">
		<div class="columns">
			<div class="column is-4 is-hidden-mobile">
				<div th:replace="fragments/nav_left :: nav_left"></div>
			</div>
			<div class="column">
				<!-- основной контент -->
				<h1 class="title">Экспорт изображений на prom.ua</h1>
				<!-- Информация о времени запуска-->
				<!-- Верхние кнопки-->
				<div class="box p-1 m-1">
					<a class="button is-primary" href="/prom/exportImages">Выгрузить изображения</a> 
		<!-- 			<a class="button" href="/prom/refreshLogsExportPrice">Обновить	логи</a> -->
				</div>

			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>