<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: html_head">
	<title>Импорт товаров с prom.ua</title>
</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="section container mt-3">
		<div class="columns">
			<div class="column is-3 is-hidden-mobile">
				<div th:replace="fragments/nav_left :: nav_left"></div>
			</div>
			<div class="column">
				<!-- основной контент -->
				<h1 class="title">Импорт товаров с prom.ua</h1>
				<div class="box p-1 m-1">
					<a class="button is-primary" href="/prom/getProducts">Получить
						товары</a> <a class="button" href="/prom/refreshLogsOrders"> <span class="icon"> <i
								class="fas fa-sync"></i>
						</span> <span>Обновить логи</span>
					</a>
					<div>
						<form action="#" th:action="@{/prom/product}" method="post" th:object="${productSearch}">
							<div class="field-body">
								<fieldset>
									<div class="field has-addons">
										<div class="control">
											<input type="text" class="input" th:field="*{barcode}"
												placeholder="barcode">
										</div>
										<div class="control">
											<button class="button is-info">Искать</button>
										</div>
									</div>
								</fieldset>
							</div>
						</form>
					</div>
				</div>
				<div>
					<div th:unless="${#lists.isEmpty(products)}">
						<nav th:fragment="pager (pagination)" class="pagination is-centered" role="navigation"
							aria-label="pagination">
							<a th:if="${page.getNumber()==0}" class="pagination-previous is-disabled">Previous</a>
							<a th:unless="${page.getNumber()==0}" class="pagination-previous"
								th:href="${''} + '?page='+ ${page.getNumber()} + '&size=' + ${page.getSize()}">Previous</a>
							<!-- 							<p th:text = "${page.getTotalPages()}"/> -->

							<a th:if="${page.getNumber()==page.getTotalPages()-1}"
								class="pagination-next is-disabled">Next page</a>
							<a th:unless="${page.getNumber()==page.getTotalPages()-1}" class="pagination-next"
								th:href="${''} + '?page='+ ${page.getNumber() + 2} + '&size=' + ${page.getSize()}">Next
								page</a>
							<ul class="pagination-list">
								<th:block th:each="pageNumber : ${body}">
									<li th:if="${pageNumber} == ${page.getNumber()+1}">
										<a class="pagination-link is-current" th:text="${pageNumber}" href="#"></a>
									</li>
									<li th:if="${pageNumber} == -1">
										<span class="pagination-ellipsis">&hellip;</span>
									</li>
									<li th:if="${pageNumber} != -1 and ${pageNumber} != ${page.getNumber()+1}">
										<a class="pagination-link" th:text="${pageNumber}"
											th:href="${''} + '?page='+ ${pageNumber} + '&size=' + ${page.getSize()}"></a>
									</li>
								</th:block>
							</ul>
						</nav>
						<table class="table table is-hoverable is-striped is-bordered">
							<thead>
								<tr>
									<th>id</th>
									<th>promId</th>
									<th>Штрихкод</th>
									<th>Наименование</th>
									<th>Картинка</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="productEntyti : ${products}">
									<td th:text="${productEntyti.id}"></td>
									<td th:text="${productEntyti.promId}"></td>
									<td width="20%" th:text="${productEntyti.barcode}"></td>
									<td width="50%" >
										<a th:href="@{'/prom/product/'+${productEntyti.id}}" th:text="${productEntyti.name}"></a>
									</td>
									<!--                        <td th:text="${productEntyti.localPathImg}">-->
									<td width="20%"><a th:href="@{'/img/'+${productEntyti.localPathImg}}"
											target="_blank">
											<!--                                     	<figure class="image is-128x128 p-1 m-1">-->
											<img th:src="@{'/img/'+${productEntyti.localPathImg}}" width=200 />
											<!--                                     	</figure> -->
										</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>