<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div th:fragment="nav_left">
        <aside class="menu">
            <p class="menu-label">Обмены информацией</p>
            <ul class="menu-list">
                <li><a>prom.ua</a>
                    <ul>
                        <li><a href="/prom/importOrders">Импорт заказов</a></li>
                        <li><a href="/prom/exportPriceInfo">Экспорт прайса</a></li>
                        <li><a href="/prom/exportImagesInfo">Экспорт картинок</a></li>
                    </ul>
                </li>

                <li th:if="${prop.emagEnabled}"><a>e-mag.cn.ua</a>
                    <ul>
                        <li><a>Импорт заказов</a></li>
                        <li><a>Экспорт прайса</a></li>
                        <li><a>Экспорт остатков</a></li>
                        <li><a>Регламентные процедуры</a></li>
                    </ul>
                </li>
                 <li th:if="${prop.rozetkaEnabled}"><a>rozetka.ua</a>
                    <ul>
                        <li><a>Импорт заказов</a></li>
                        <li><a href="/rozetka/exportPriceInfo">Экспорт прайса</a></li>
                    </ul>
                </li>
            </ul>
            <p class="menu-label">Administration</p>
            <!-- 					<ul class="menu-list">
            <li><a>Team Settings</a></li>
            <li>
                <a class="is-active">Manage Your Team</a>
                <ul>
                    <li><a>Members</a></li>
                    <li><a>Plugins</a></li>
                    <li><a>Add a member</a></li>
                </ul>
            </li>
            <li><a>Invitations</a></li>
            <li><a>Cloud Storage Environment Settings</a></li>
            <li><a>Authentication</a></li>
        </ul>
-->
            <p class="menu-label">Transactions</p>
            <!-- 					<ul class="menu-list">
            <li><a>Payments</a></li>
            <li><a>Transfers</a></li>
            <li><a>Balance</a></li>
        </ul> -->
        </aside>
    </div>
</body>

</html>