<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="fragments/header :: html_head">
</head>

<body class="has-background-light Site">

	<section class="section pb-0">
		<!-- top navigation menu -->
		<div th:replace="fragments/header :: header"></div>
		<!-- ent  top navigation menu-->
	</section>

	<div class="section container pt-3">
		<!-- start main context -->
		<div class="columns">
			<!-- колонка с меню навигации -->
			<div class="column is-4 is-hidden-mobile">
					<div th:replace="fragments/nav_left :: nav_left"></div>
			</div>
			<div class="column">
				<!-- основной блок -->
				<section class="section Site-content pt-1">
					<div class="container">
						<div class="content">
							<h2 class="title">Hello, I am SOD</h2>
						</div>
					</div>
					<div class="content">
					</div>
				</section>
			</div>
		</div>
		<!-- end main context -->

	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>

</html>