<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: html_head">
    <title>Spring Security Example </title>
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="section mt-3">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                    <form th:action="@{/login}" method="post">
                        <h1 class="title">Please Sign In</h1>

                        <div th:if="${param.error}">
                            <div class="is-danger">
                                Invalid username and password.
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="notification is-danger">
                                You have been logged out.
                            </div>
                        </div>

                        <div class="field">
                            <label for="" class="label">Имя</label>
                            <div class="control">
                                <input type="text" name="username" id="username" class="input" placeholder="UserName"
                                    required="true" autofocus="true" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Пароль</label>
                            <div class="control">
                                <input type="password" name="password" id="password" class="input"
                                    placeholder="Password" required="true" />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">Войти</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

</body>

</html>